<!-- <article
  class="truck-card"
  (click)="selectTruck()">

  <div class="truck-card-header">

    <div>
      <h3>
        {{ foodTruck().name || 'Food Truck' }}
      </h3>

      <p class="food-items">
        {{ foodTruck().foodItems || 'Food information unavailable' }}
      </p>
    </div>

    <span class="status-badge">
      Open
    </span>

  </div>

  <div class="truck-card-details">

    @if (foodTruck().address) {

      <div class="detail-row">
        <span class="detail-icon">📍</span>

        <span>
          {{ foodTruck().address }}
        </span>
      </div>

    }

    @if (foodTruck().daysHours) {

      <div class="detail-row">
        <span class="detail-icon">◷</span>

        <span>
          {{ foodTruck().daysHours }}
        </span>
      </div>

    }

  </div>

  <div class="truck-card-footer">

    @if (foodTruck().permit) {

      <span class="permit">
        Permit: {{ foodTruck().permit }}
      </span>

    }

    <button
      type="button"
      class="map-button"
      (click)="selectTruck(); $event.stopPropagation()">

      View on Map

    </button>

  </div>

</article> -->



<article
  class="truck-card"
  (click)="selectTruck()"
>

  <div class="truck-card-header">

    <div>
      <h3>
        {{ foodTruck().name || 'Food Truck' }}
      </h3>

      <p class="food-items">
        {{ foodTruck().foodItems || 'Food information unavailable' }}
      </p>
    </div>

    <span class="status-badge">
      Open
    </span>

  </div>


  <div class="truck-card-details">

    @if (foodTruck().address) {

      <div class="detail-row">

        <span class="detail-icon">
          📍
        </span>

        <span>
          {{ foodTruck().address }}
        </span>

      </div>

    }


    @if (foodTruck().daysHours) {

      <div class="detail-row">

        <span class="detail-icon">
          ◷
        </span>

        <span>
          {{ foodTruck().daysHours }}
        </span>

      </div>

    }

  </div>


  <div class="truck-card-footer">

    @if (foodTruck().permit) {

      <span class="permit">
        Permit: {{ foodTruck().permit }}
      </span>

    }


    <button
      type="button"
      class="map-button"
      (click)="onViewMap($event)"
    >
      View on Map
    </button>

  </div>

</article>